@charset "UTF-8";
@import "fonts.css";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
	 Убираем внутренние отступы слева тегам списков,
	 у которых есть атрибут class
	*/
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
	 Убираем внешние отступы body и двум другим тегам,
	 у которых есть атрибут class
	*/
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
	 Убираем внешние отступы вертикали нужным тегам,
	 у которых есть атрибут class
	*/
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
	 Убираем стандартный маркер маркированному списку,
	 у которого есть атрибут class
	*/
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
	 Обнуляем вертикальные внешние отступы параграфа,
	 объявляем локальную переменную для внешнего отступа вниз,
	 чтобы избежать взаимодействие с более сложным селектором
	*/
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
	 Внешний отступ вниз для параграфа без атрибута class,
	 который расположен не последним среди своих соседних элементов
	*/
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
	 Упрощаем работу с изображениями и видео
	*/
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
	 Наследуем свойства шрифт для полей ввода
	*/
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
   Пригодится в большинстве ситуаций
   (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  height: 100%;
  /**
   Убираем скачок интерфейса по горизонтали
   при появлении / исчезновении скроллбара
  */
  scrollbar-gutter: stable;
}

/**
	 Плавный скролл
	*/
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
   Пригодится в большинстве ситуаций
   (когда, например, нужно будет "прижать" футер к низу сайта)
  */
  min-height: 100%;
  /**
   Унифицированный интерлиньяж
  */
  line-height: 1.5;
}

/**
	 Нормализация высоты элемента ссылки при его инспектировании в DevTools
	*/
a:where([class]) {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

/**
	 Курсор-рука при наведении на элемент
	*/
button,
label {
  cursor: pointer;
}

/**
	 Приводим к единому цвету svg-элементы
	 (за исключением тех, у которых уже указан
	 атрибут fill со значением 'none' или начинается с 'url')
	*/
:where([fill]:not([fill=none], [fill^=url])) {
  fill: currentColor;
}

/**
	 Приводим к единому цвету svg-элементы
	 (за исключением тех, у которых уже указан
	 атрибут stroke со значением 'none')
	*/
:where([stroke]:not([stroke=none], [stroke^=url])) {
  stroke: currentColor;
}

/**
	 Чиним баг задержки смены цвета при взаимодействии с svg-элементами
	*/
svg * {
  -webkit-transition-property: fill, stroke;
  transition-property: fill, stroke;
}

/**
	 Приведение рамок таблиц в классический 'collapse' вид
	*/
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
	 Удаляем все анимации и переходы для людей,
	 которые предпочитают их не использовать
	*/
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  background-color: #000000;
  font-family: "heebo", sans-serif;
  color: #c4c4c4;
  font-size: 16px;
  line-height: 1.75;
}

.container {
  max-width: 1330px;
  margin-inline: auto;
  padding-inline: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
}

a {
  color: #ffffff;
}
@media (hover: hover) {
  a:hover {
    color: #c4c4c4;
  }
}

a,
button,
input,
textarea,
svg * {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

p {
  margin-block: 0;
}

p:not([class]):not(:last-child) {
  margin-block: 24px;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 38px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-inline: 26px;
  font-weight: 700;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.1em;
  white-space: nowrap;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ffffff;
  border: none;
  border-radius: 30px;
}
.button.button-transparent {
  position: relative;
  height: 54px;
  padding-left: 31px;
  padding-right: 80px;
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
}
.button.button-transparent::after {
  content: "";
  position: absolute;
  right: 0;
  height: 100%;
  aspect-ratio: 1;
  background: url(../../../icons/arrow-top-right.svg) no-repeat center/70%;
  border: 1px solid #ffffff;
  border-radius: 50%;
}
@media (hover: hover) {
  .button.button-transparent:hover {
    color: #000000;
    background-color: #c4c4c4;
  }
}
@media (hover: hover) {
  .button:hover {
    background-color: #c4c4c4;
  }
}
@media (max-width: 767px) {
  .button {
    padding-inline: 18px;
  }
}

.input {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  height: 54px;
  padding-inline: 25px;
  width: 100%;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #c4c4c4;
  border-radius: 30px;
}
.input::-webkit-input-placeholder {
  color: #c4c4c4;
}
.input::-moz-placeholder {
  color: #c4c4c4;
}
.input:-ms-input-placeholder {
  color: #c4c4c4;
}
.input::-ms-input-placeholder {
  color: #c4c4c4;
}
.input::placeholder {
  color: #c4c4c4;
}
@media (hover: hover) {
  .input:hover {
    border: 1px solid #ffffff;
  }
}
.input:focus {
  outline: none;
  background-color: #c4c4c4;
  color: #000000;
}

.title-big {
  font-size: clamp(24px, 3.12vw, 60px);
}

.title-medium {
  font-size: clamp(20px, 2.08vw, 40px);
  line-height: 1.3;
  text-transform: uppercase;
}

.backdrop-title {
  position: relative;
  z-index: 2;
}
.backdrop-title::before {
  content: "";
  position: absolute;
  display: block;
  right: calc(100% + 8px);
  width: 26px;
  aspect-ratio: 1;
  background: url(../../../icons/plus.svg) no-repeat center/contain;
}
.backdrop-title::after {
  content: attr(data-title);
  position: absolute;
  z-index: -1;
  top: -0.45em;
  left: -0.6em;
  font-size: 2.8em;
  font-family: "yantramanav", sans-serif;
  color: transparent;
  opacity: 0.5;
  -webkit-text-stroke: 1px #c4c4c4;
  text-stroke: 1px #c4c4c4;
}
.backdrop-title.centered::after {
  top: -0.55em;
  left: 50%;
  translate: -50% 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  padding-inline: 32px;
  min-height: 90px;
  background-color: #131619;
}
@media (max-width: 1024px) {
  .header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 10px;
    padding-top: 20px;
    padding-inline: 15px;
  }
}
@media (max-width: 767px) {
  .header {
    padding-top: 10px;
  }
}
.header-logo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (max-width: 1024px) {
  .header-menu {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
.header-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}
@media (max-width: 767px) {
  .header-menu-list {
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px;
  }
}
.header-menu-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 7px;
     -moz-column-gap: 7px;
          column-gap: 7px;
  height: 90px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.2px;
}
@media (max-width: 1024px) {
  .header-menu-link {
    height: 50px;
  }
}
@media (max-width: 767px) {
  .header-menu-link {
    height: 32px;
  }
}
.header-menu-link.is-current::after {
  content: "";
  width: 5px;
  aspect-ratio: 1;
  background-color: currentColor;
  border-radius: 50%;
}
.header-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
@media (max-width: 767px) {
  .header-actions {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
}
.header-burger-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 4px;
  padding-left: 8px;
  width: 40px;
  aspect-ratio: 1;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 50%;
}
@media (hover: hover) {
  .header-burger-button:hover {
    color: #c4c4c4;
    border-color: currentColor;
  }
}
.header-burger-button-line {
  top: 5px;
  left: 5px;
  width: 6px;
  height: 1px;
  background-color: currentColor;
  -webkit-box-shadow: 16px 0 0 currentColor;
          box-shadow: 16px 0 0 currentColor;
}

.banner {
  padding: 36px 70px;
  min-height: calc(100vh - 90px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  color: #ffffff;
  background-color: #131619;
}
@media (max-width: 1024px) {
  .banner {
    padding-inline: 15px;
    row-gap: 10px;
  }
}
.banner-body {
  text-transform: uppercase;
}
.banner-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  font-weight: 700;
  font-size: clamp(16px, 1.56vw, 30px);
  line-height: 1.26667;
}
@media (max-width: 767px) {
  .banner-info {
    margin-bottom: 5px;
  }
}
.banner-info::before {
  content: "";
  width: clamp(60px, 10.1vw, 194px);
  aspect-ratio: 1;
  margin-right: 30px;
  background: url(../../../icons/bold-arrow-down-right.svg) no-repeat center/contain;
}
@media (max-width: 767px) {
  .banner-info::before {
    margin-right: 10px;
  }
}
.banner-title {
  font-weight: 700;
  font-size: min(18.75vw, 360px);
  line-height: 1;
}

.banner-pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.banner-pagination-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.banner-pagination-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  padding: 7px;
  background-color: transparent;
}
.banner-pagination-button::after {
  content: "";
  width: 10px;
  aspect-ratio: 1;
  border: 1px solid #ffffff;
  border-radius: 50%;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
@media (hover: hover) {
  .banner-pagination-button:hover:not(.is-current)::after {
    border-color: #c4c4c4;
  }
}
.banner-pagination-button.is-current::after {
  background-color: #ffffff;
}

.motivation-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: clamp(30px, 18.42vw, 200px);
     -moz-column-gap: clamp(30px, 18.42vw, 200px);
          column-gap: clamp(30px, 18.42vw, 200px);
}
@media (max-width: 1024px) {
  .motivation-card {
    padding-block: 50px;
  }
}
@media (max-width: 767px) {
  .motivation-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    row-gap: 30px;
    padding-block: 30px;
  }
}
.motivation-card-image {
  margin-block: -60px;
}
@media (max-width: 1919px) {
  .motivation-card-image {
    margin-block: -20px;
  }
}
@media (max-width: 1024px) {
  .motivation-card-image {
    margin-block: 0px;
    max-width: 30%;
    height: auto;
  }
}
@media (max-width: 767px) {
  .motivation-card-image {
    max-width: 60%;
  }
}
.motivation-card-body {
  margin-left: 35px;
}
.motivation-card-title:not(:last-child) {
  margin-bottom: 14px;
}
.motivation-card-description {
  max-width: 400px;
}
.motivation-card-description:not(:last-child) {
  margin-bottom: 37px;
}
@media (max-width: 767px) {
  .motivation-card-description:not(:last-child) {
    margin-bottom: 20px;
  }
}

.motivation-item:nth-child(even) {
  background-color: #131619;
}
.motivation-item:nth-child(even) .motivation-card {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media (max-width: 767px) {
  .motivation-item:nth-child(even) .motivation-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.training-types {
  max-width: 1920px;
  margin-inline: auto;
  padding-top: 70px;
  padding-bottom: 120px;
  position: relative;
  background-color: #000000;
}
.training-types-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 60px;
}
@media (max-width: 1280px) {
  .training-types-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 767px) {
  .training-types-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
.training-types-item {
  --traningTypesItemBgIconSize: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 32px;
  padding-top: var(--traningTypesItemBgIconSize);
  background: url(../../../icons/transparent-arrow-bottom-left.svg) no-repeat 100% 0/var(--traningTypesItemBgIconSize);
}
@media (max-width: 767px) {
  .training-types-item {
    --traningTypesItemBgIconSize: 50px;
    row-gap: 10px;
  }
}
@media (max-width: 767px) {
  .training-types-image {
    max-width: 120px;
  }
}
.training-types-item-title {
  font-weight: 700;
  font-size: 16px;
}

.join-us {
  background-color: #131619;
}

.join-us-video-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 150px 30px;
  background: url(../../../images/join-us/join-us-bg.webp) no-repeat center/cover, #131619;
}

.join-us-video {
  max-width: 920px;
  width: 100%;
  height: auto;
}

.join-us-video-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 4px;
     -moz-column-gap: 4px;
          column-gap: 4px;
  width: 200px;
  aspect-ratio: 1;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 50%;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
}
.join-us-video-play-button::after {
  content: "";
  width: 26px;
  aspect-ratio: 1;
  background: url(../../../icons/arrow-top-right.svg) no-repeat center/contain;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
@media (hover: hover) {
  .join-us-video-play-button:hover {
    color: #000000;
    background-color: #c4c4c4;
  }
  .join-us-video-play-button:hover::after {
    -webkit-filter: invert(1);
            filter: invert(1);
  }
}
@media (max-width: 767px) {
  .join-us-video-play-button {
    width: 140px;
  }
}

.join-us-body {
  padding-bottom: 150px;
}
@media (max-width: 1024px) {
  .join-us-body {
    padding-bottom: 80px;
  }
}

.join-us-title {
  position: relative;
  margin-top: -0.4em;
  font-weight: 700;
  font-size: clamp(64px, 9.37vw, 180px);
  line-height: 1;
  text-align: center;
}
.join-us-title::after {
  content: "";
  display: inline-block;
  height: 0.7em;
  margin-left: 0.14em;
  aspect-ratio: 1;
  background: url(../../../icons/bold-arrow-down-right.svg) no-repeat center -1px/contain;
  scale: 1 -1;
}
.join-us-title:not(:last-child) {
  margin-bottom: 130px;
}
@media (max-width: 1024px) {
  .join-us-title:not(:last-child) {
    margin-bottom: 80px;
  }
}
@media (max-width: 767px) {
  .join-us-title:not(:last-child) {
    margin-bottom: 40px;
  }
}

.join-us-form-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 7px;
}
.join-us-form-header:not(:last-child) {
  margin-bottom: 52px;
}

.join-us-form-subtitle {
  font-size: 20px;
  line-height: 1.65;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
@media (max-width: 767px) {
  .join-us-form-subtitle {
    font-size: 16px;
  }
}

.join-us-form-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
@media (max-width: 767px) {
  .join-us-form-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 20px;
  }
}

.join-us-form-input {
  max-width: 400px;
}/*# sourceMappingURL=style.css.map */